DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=chillcrate
DB_SSL_MODE=disable
SERVER_HOST=localhost
SERVER_PORT=8081
KC_BOOTSTRAP_ADMIN_USERNAME=
KC_BOOTSTRAP_ADMIN_PASSWORD=
KEYCLOAK_URL=http://localhost:8080 
KEYCLOAK_REALM=local
KEYCLOAK_CLIENT_ID=example
KEYCLOAK_CLIENT_SECRET=your-client-secret
REDIRECT_URL=http://localhost:8081/auth/callback
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_REGION=us-west-1
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
